/*.container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: 1fr;
 }

 body {
		background-image: url(img_0191.jpg);
		background-size: 1000px 700px;
}
*/
img {
	transition: all 1s;
}

img:hover {
	transform: scale(1.1);
}

/*img:active {
	transform: scale(3.0);
}*/
video { 
	width: 350px;
	height: 250PX;
	margin: 10px;
	transition: all 1s;
}

video:hover{
	transform: scale(1.1);